{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}


<br>
<h5> Welcome to the  Variant Classifier DB. </h5>
<br>
<table class="table">

			<thead>
			</thead>
			
			<tbody>
				<tr>
					<td style="width: 25.00%" class="col-2">Contact</td>
					<td style="width: 25.00%" class="col-8"><a href = "mailto: bioinformatics.team@wales.nhs.uk">Bioinformatics.Team@wales.nhs.uk</a> </td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td style="width: 25.00%" class="col-2">Issues</td>
					<td style="width: 25.00%" class="col-8"><a href = "https://github.com/AWGL/variant_classification_DB/">GitHub</a> </td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Version</td>
					<td>1.5.0</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Genome Build Options</td>
					<td style="width: 25.00%" class="col-8">GRCh37/hg19</td>
					<td style="width: 25.00%" class="col-8">GRCh38</td>
					<td></td>
				</tr>
					<tr>
					<td>VEP Cache Versions</td>
					<td style="width: 25.00%" class="col-8">100 (RefSeq)</td>
					<td style="width: 25.00%" class="col-8">104 (RefSeq)</td>
					<td></td>
				</tr>

			</tbody>
				
		</table>

{% endblock %}
