{% for comment in comments %}


<div class="card">
<h7 class="card-header">

{{comment.user}} on {{comment.time}}

      {% if user == comment.user %}

        <button id={{comment.pk}} type="button" class="close comment_destroy" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>

    {% endif %}


</h7>
<div class="card-body">

  {{comment.text|linebreaks}}


   {% if comment.get_evidence == None %}

  {% else %}

    <hr>

    {% for evidence in comment.get_evidence %}

      	{% if evidence.file|make_list|slice:"-4:"|join:"" == ".png" %}


		<a href="/media/{{ evidence.file }}" target="_blank"> <img class="evidence_images" src=/media/{{ evidence.file }} style="width:100%;max-width:300px"></a>

		{% else %}

		<a href="/media/{{ evidence.file }}" target="_blank">{{evidence.file }} </a>


		{% endif %}


    {% endfor %}

  {% endif %}

</div>
</div>

<hr>

{% endfor %}