{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br><br>
<center>
  <div>
	<h4> Import variants from file </h4>
	<br>
	
	{% crispy form %}

	<p class="text-muted">Import file must be the .tsv file outputted by the Variant Database. If there are any errors, the data will not be uploaded.</p>

	{% if error %}
	  {% for e in error %}
	    <div class="alert alert-danger col-lg-2-8">
		    {{ e }}
		  </div>
	  {% endfor %}
	{% endif %}

	{% if success %}
	  {% for s in success %}
		  <div class="alert alert-success col-lg-2-8">
		    {{ s }} <a href={% url 'view_previous_classifications' %}>View here.</a>
	    </div>
	  {% endfor %}
  {% endif %}

	{% if warn %}
	  {% for w in warn %}
	    <div class="alert alert-warning col-lg-2-8">
		    {{ w }}
		  </div>
	  {% endfor %}
	{% endif %}
  </div>

  <br>
	<h5><a href="/manual_input">Input variant details manually</a></h5>
	<br><br>
</center>
	
{% endblock %}