{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br><br>
<center>
  <div>
	<h4> Load variants from file </h4>
	<p>Import file must be the .tsv file outputted by the Variant database</p>
	<br>
	
	{% crispy form %}

	{% if error %}
	  {% for e in error %}
	    <div class="alert alert-danger col-lg-2-8">
		  {{ e }}
		</div>
	  {% endfor %}
	{% endif %}

	{% if warn %}
	  {% for w in warn %}
	    <div class="alert alert-warning col-lg-2-8">
		  {{ w }}
		</div>
	  {% endfor %}
	{% endif %}
  </div>

  <br>
  <h5><a href="/manual_input">Input variant details manually</a></h5>
</center>
	
{% endblock %}