{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<br><br>
<center>
  <div>
	<h4> Input variant details </h4>
	<br>
	
	{% crispy form %}

	{% if error %}

	  <div class="alert alert-danger col-lg-2-8">
		Error: {{ error}}
	  </div>
	  
	{% endif %}
  </div>

	{% if success %}
	  {% for s in success %}
		  <div class="alert alert-success col-lg-2-8">
		    {{ s }} <a href={% url 'pending_classifications' %}{{ params }}>View here.</a>
	    </div>
	  {% endfor %}
  {% endif %}

  

  <br>
	<h5><a href="{% url 'auto_input' %}">Import variants from a file</a></h5>
	<br><br>
</center>




<script>
$(document).ready(function(){
$("#search-data-form").on("submit", function () {
    $(this).find(":submit").prop("disabled", true);
});
});
</script>
	
{% endblock %}
