{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<br>

<div class="alert alert-success">
  You are analysing variant: <strong>{{variant.chromosome}}:g.{{variant.position}}{{variant.ref}}>{{variant.alt}} </strong>
</div>


<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="variant_info" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Information</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">ACMG</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Evidence</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


  	<br>

  <button class ="btn btn-success" data-toggle="collapse" data-target="#demo">Variant Detail</button>


<button class="btn"><i class="fa fa-plus"></i></button>


<div id="demo" class="collapse"> 

	<br>
<table id="variant_detail" class = "table table-hover table-bordered" style="width:100%">

    <thead>

        <tr>
          <th class='transcript'> Transcript </th>
          <th class='gene'> Gene </th>
          <th class='hgvs_c'> HGVSc </th>
          <th class='hgvs_p'> HGVSp </th>
          <th class='exon_number'> Exon </th>
        </tr>

      </thead>

      <tbody>


      	{% for transcript in transcript_variants %}

      	<tr>	

      		<td> {{transcript.transcript.name}} </td>
      		<td> {{transcript.transcript.gene.name}} </td>
      		<td> {{transcript.hgvs_c}} </td>
      		<td> {{transcript.hgvs_p}} </td>
      		<td> {{transcript.exon}} </td>


      	</tr>



      	{% endfor %}



      </tbody>

  </table>

</div>



  <hr> 


  {% crispy sample_form %}


</div>




  <br>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


  	<button type="button" class="btn btn-success acmg_submit" id='submit_acmg' >Classify</button>

  	<hr> 

  	<div id ='class_box'>

  		<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  			<div class="card-header">ACMG Classification Result</div>
  			<div class="card-body">
    		<p class="card-text">{{result}}</p></div>
  		

  		</div>

  	</div>

  	<hr>


 	<table id="acmg_question_table" class = "table table-hover table-bordered" style="width:100%">

    <thead>

        <tr>
          <th style="display:none;" class='answer_pk'> Answer PK </th>
          <th class='question'> Evidence Category </th>
          <th class='strength'> Strength </th>
          <th class='selected'> Decision </th>

        </tr>

      </thead>

      <tbody>

      	{% for answer in answers %}

      	<tr class='answer'>

        <td class='answer_pk' style="display:none;"> {{ answer.pk}}</td>
        <td class='question'> {{ answer.classification_question.acmg_code  }} </td>
        <td class='strength'> 

        	{% if answer.classification_question.allowed_strength_change == False %}


  					{{answer.classification_question.default_strength}}



  			{% else %}



        	<select size="1" id="strength-{{answer.pk}}" name="strength-{{answer.pk}}">




  					{% for strength in answer.classification_question.strength_options %}

  						{% if strength == answer.strength %}







  							<option value="{{strength}}" selected> {{strength}} </option>

  						{% else %}

  							<option value="{{strength}}"> {{strength}} </option>

  						{% endif %}

  					{% endfor %}




        		

        	</select>

        	{% endif %}





        </td>


        <td class='selected'> 

        	<select size="1" id="selected-{{answer.pk}}" name="selected-{{answer.pk}}" class="answer-selected">

        		<option value="{{answer.selected}}" selected> {{answer.selected}} </option>

        		{% if answer.selected == False %}


        			<option value=True> True </option>

        		{% elif answer.selected == True %}

        			<option value=False> False </option>


        		{% endif %}

        	</select>



         </td>

      </tr>

     

      {% endfor %}

  </tbody>

</table>







<br>
<br>






  </div>


  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
  	
 <h4>Evidence</h4>

                 <div id='comment_box'> 

                 <!-- Comment box folds the comments and files for the variant - updated via ajax --> 

                 {% for comment in comments %}

                 <div class="card">
                    <h7 class="card-header">{{comment.user}} on {{comment.time}}</h7>
                    <div class="card-body">

                      {{comment.text|linebreaks}}


                       {% if comment.get_evidence == None %}

                      {% else %}

                        <hr>

                        {% for evidence in comment.get_evidence %}

                          <p><a href= /media/{{ evidence.file }} target="_blank"> {{ evidence.file }}</a> </p>


                        {% endfor %}

                      {% endif %}

                    </div>
                  </div>
                  <hr>




                 {% endfor %}


                 </div>

             
                 <hr>

                  <form enctype="multipart/form-data" class="col-lg-6"> {% csrf_token %}
                    <div class="form-group">
                     <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment_text" style="resize:none;"></textarea>
                   </div>

                  <button type="button" class="btn btn-success btn-sm" id='comment_button'>
                    <span ></span> Add Comment/File
                  </button>

                    <div class="btn btn-default btn-sm">
                      Attach File <input type="file"  id='file_upload' name='file'> 
                  </div>


                  <hr>

                  <div class="alert alert-info" id='file_name' style="display: none;">
                    
                  </div>




                  <input type="hidden" id='hidden_image_field'>



                  </form>

                  <canvas style="border:1px solid grey;" id="my_canvas" width="300" height="300"></canvas>



            
        </div>
      </div>
    </div>
  </div>


  </div>


</div>

<script>


$(document).ready(function(){

	// Inititialise DataTable
	var table = $('#acmg_question_table').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false
    });


	$(".answer-selected").change(function(){

		$(this).parent().parent()

	});







	// When we click the submit ACMG
	$(".acmg_submit").click(function(){

		console.log('hi')

		// construct a dictionary of objects to submit to server

		var rows = $("#acmg_question_table").children('tbody').children();

		var classification_dict = {}


		for (var i =0; i<rows.length; i++){

				var pk = $(rows[i]).children('td.answer_pk').text();


				var type = $(rows[i]).children('td.strength').children().is("select")

				if (type == true){

					var strength = $(rows[i]).children('td.strength').children().val()


				} else {

					var strength = $.trim($(rows[i]).children('td.strength').text());

				}

				var question  = $(rows[i]).children('td.question').text();
				var selected = $(rows[i]).children('td.selected').children().val();

				console.log(pk, question, strength, selected)

				classification_dict[pk] = [question, strength, selected];


			}

		var formData = new FormData();

		formData.append('csrfmiddlewaretoken',document.getElementsByName('csrfmiddlewaretoken')[0].value );
		formData.append('classifications', JSON.stringify(classification_dict));
		formData.append('classification_pk', "{{classification.pk}}" );

		$.ajax({
			url: '/ajax/acmg_classification/',
			type: 'POST',
			data: formData,

			contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
			processData: false, // NEEDED, DON'T OMIT THIS

			success: function(data) {

			$("#class_box").html(data);

			},

			failure: function(data) { 

			alert('Got an error');

			}

			});




	});

	$('#file_upload').on('change', function() { //runs when a file is selected
    	var file = this.files[0];
    	$('#file_name').text(file.name + " has been selected. Click Add Comment/File to upload.");
    	$('#file_name').show();
	});


	$("#comment_button").click(function(){

	    var comment_text = $("#comment_text").val();
	    var formData = new FormData(); //create empty form data
	    formData.append('csrfmiddlewaretoken',document.getElementsByName('csrfmiddlewaretoken')[0].value ); //add csfr token
	    formData.append('classification_pk', "{{classification.pk}}"); //add sample primary key
	    formData.append('comment_text', comment_text); //add comment text
	    var file = $('#file_upload')[0].files[0];
	    var canvas = document.getElementById('my_canvas');
	    var dataURL = canvas.toDataURL("image/png");
	    document.getElementById('hidden_image_field').value = dataURL;
	    formData.append('file', file); //add file
	    if (canvas_entered ==true){
	      formData.append('image_data', $("#hidden_image_field").val()); //add image file
	    }
   
	    $.ajax({
		    url: '/ajax/comments/',
		    type: 'POST', 
		    data: formData,
		    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
		    processData: false, // NEEDED, DON'T OMIT THIS
		    success: function(data) {
		        $("#comment_box").html(data);
		        $("#comment_text").val('');
		        $('#file_name').hide();
		        $('#file_upload').val('');
		       	var c = document.getElementById("my_canvas");
		       	var ctx = c.getContext("2d");
		       	ctx.clearRect(0,0,300,300);
		    },

		    failure: function(data) { 

		        alert('Got an error');
		    }

		    }); 
	  
	  });


//copy and paste from clipboard
//Taken from https://stackoverflow.com/questions/18377891/how-can-i-let-user-paste-image-data-from-the-clipboard-into-a-canvas-element-in
var CLIPBOARD = new CLIPBOARD_CLASS("my_canvas", true);
var canvas_entered =false;
function CLIPBOARD_CLASS(canvas_id, autoresize) {
  var _self = this;
  var canvas = document.getElementById(canvas_id);
  var ctx = document.getElementById(canvas_id).getContext("2d");
  //handlers
  document.addEventListener('paste', function (e) { _self.paste_auto(e); }, false);
  //on paste
  this.paste_auto = function (e) {
    if (e.clipboardData) {
      var items = e.clipboardData.items;
      if (!items) return;
      
      //access data directly
      for (var i = 0; i < items.length; i++) {
        if (items[i].type.indexOf("image") !== -1) {
          //image
          var blob = items[i].getAsFile();
          var URLObj = window.URL || window.webkitURL;
          var source = URLObj.createObjectURL(blob);
          this.paste_createImage(source);
        }
      }
      e.preventDefault();
    }
  };
  //draw pasted image to canvas
  this.paste_createImage = function (source) {
    var pastedImage = new Image();
    canvas_entered =true;
    pastedImage.onload = function () {
      if(autoresize == true){
        //resize
        canvas.width = pastedImage.width;
        canvas.height = pastedImage.height;
      }
      else{
        //clear canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);
      }
      ctx.drawImage(pastedImage, 0, 0);
    };
    pastedImage.src = source;
  };
}



});


</script>

{% csrf_token %}


{% endblock %}  








