{% extends 'acmg_db/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<br>

<div class="card bg-light mb-6">
  <div class="card-header">Login</div>
    <div class="card-body">
        <div class="alert alert-danger" role="alert">
          <p><b>NOTE:</b></p>
          <p>Use your <b>NHS email address</b> as your username.</p>
          <p>Email <b>bioinformatics.team@wales.nhs.uk</b> after filling in this form to activate your account.</p>
        </div>
    <form class="form-horizontal" method="post">{% csrf_token %}
      {{ form.as_p }}

      <br>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<br>

{% if warning %}
<div class="alert alert-danger" role="alert">
  {{warning.0}}
</div>
{% endif %}

{% endblock %}