{% extends 'acmg_db/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<br>

<div class="card bg-light mb-6">
  <div class="card-header">Login</div>
    <div class="card-body">
    <form class="form-horizontal" method="post">{% csrf_token %}
      {{ form.as_p }}
      <br>
      <div class="alert alert-warning" role="alert">
        <b>IMPORTANT:</b> You need to activate your account before you can use it, email bioinformatics.team@wales.nhs.uk after filling in this form to activate your account.
      </div>
      <br>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<br>

{% if warning %}
<div class="alert alert-danger" role="alert">
  {{warning.0}}
</div>
{% endif %}

{% endblock %}