{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}

<br>
<h4>All unique variants</h4>
<br>

<!------------ table of unique variants ------------>
<table id="classifications" class = "table table-hover table-bordered" style="width:100%">

  <thead>
	<tr>
	  <th>Variant<br>(Click to view all)</th>
	  <th>Gene</th>
	  <th>Transcript</th>
	  <th>HGVSc</th>
	  <th>HGVSp</th>
	  <th>Reference Genome</th>
	  <th>Last Classification<br>(Click to view)</th>
	  <th>Last Classification Date</th>
	  <th>All Classifications</th>
	  <th>Classification Count</th>
	</tr>
  </thead>

  <tbody>
	{% for variant in all_variants %}
	<tr>
	  <td><a href="{% url 'view_variant' pk=variant.variant_hash %}">{{ variant.variant_id | truncatechars:20 }}</td>
	  <td>{{ variant.gene }}</td>
	  <td>{{ variant.transcript }}</td>
	  <td>{{ variant.hgvs_c | truncatechars:25 }}</td>
	  <td>{{ variant.hgvs_p | truncatechars:25 }}</td>
	  <td>{{ variant.genome }}</td>
	  <td>
		<!-- change button colour based on class -->
		<a class=

			{% if 'Benign' in variant.most_recent_class %}
			  "btn btn-info btn-sm"
			{% elif 'Pathogenic' in variant.most_recent_class %}
			  "btn btn-danger btn-sm"
			{% elif 'VUS' in variant.most_recent_class %}
			  "btn btn-warning btn-sm"
			{% elif 'Artefact' in variant.most_recent_class %}
			  "btn btn-secondary btn-sm"
			{% elif 'Contradictory' in variant.most_recent_class %}
			  "btn btn-primary btn-sm"
			{% else %}
			  "btn btn-light btn-sm"
			{% endif %}

		  href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"><span class="fa fa-binoculars"></span>{{ variant.most_recent_class }}
		</a>
	  </td>
	  <td>{{ variant.most_recent_date | date:"Y/m/d" }}</td>
	  <td>{{ variant.all_classes }}</td>
	  <td>{{ variant.num_classifications }}</td>
	 
	</tr>
	{% endfor %}
  </tbody>

  <tfoot>
	<tr>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
  </tfoot>

</table>
<br>
<br>


<!------------ Javascript ------------>
<script>
$(document).ready(function(){

 // Setup - add a text input to each footer cell
    $('#classifications tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" class="form-control" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    // Inititialise DataTable
	var table = $('#classifications').DataTable({
		"paging":   true,
		"ordering": true,
		"info":     false,
		"pageLength": 25,
		"searching": true,
		"aaSorting": [],
	});
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );


});
</script>

{% endblock %}
