{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}

<br>
<h4>All unique variants</h4>
<br>


<table id="classifications" class = "table table-hover table-bordered" style="width:100%">
  <thead>
	<tr>
	  <th>Variant <br>(Click to view all)</th>
	  <th>Gene</th>
	  <th>Transcript</th>
	  <th>HGVSc</th>
	  <th>HGVSp</th>
	  <th>Last Classification (Click to view)</th>
	  <th>Last Classification Date</th>
	  <th>All Classifications</th>
	  <th>Classification Count</th>
	</tr>
  </thead>

  <tbody>
	{% for variant in all_variants %}
	<tr>
		<td>  <a href="{% url 'view_variant' pk=variant.variant_hash %}" > {{ variant.variant_id }}</td>
		<td> {{ variant.gene }} </td>
		<td> {{ variant.transcript }} </td>
		<td> {{ variant.hgvs_c | truncatechars:25}}</td>
		<td> {{ variant.hgvs_p | truncatechars:25}}</td>

		<td>
		{% if 'Benign' in variant.most_recent_class %}
		<a class="btn btn-info btn-sm" href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"> 
		{% elif 'Pathogenic' in variant.most_recent_class %}
		<a class="btn btn-danger btn-sm" href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"> 
		{% elif 'VUS' in variant.most_recent_class %}
		<a class="btn btn-warning btn-sm" href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"> 
		{% elif 'Artefact' in variant.most_recent_class %}
		<a class="btn btn-secondary btn-sm" href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"> 
		{% elif 'Contradictory' in variant.most_recent_class %}
         <a class="btn btn-primary btn-sm" href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"> 
		{% else %}
		<a class="btn btn-light btn-sm" href="{% url 'view_classification' pk=variant.most_recent_obj.pk %}" role="button"> 
		{% endif %}
			<span class="fa fa-binoculars"></span>  {{ variant.most_recent_class }} 
		</a>
	</td>
		<td> {{ variant.most_recent_date | date:"Y/m/d"}}</td>
		<td> {{ variant.all_classes }}</td>
		<td> {{ variant.num_classifications }}</td>
	 
	</tr>
	{% endfor %}
  </tbody>

  <tfoot>
	<tr>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th> </th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>
  </tfoot>

</table>
<br>
<br>



<script>
$(document).ready(function(){

 // Setup - add a text input to each footer cell
    $('#classifications tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" class="form-control" placeholder="Search '+title+'" />' );
    } );
 
    // DataTable
    	// Inititialise DataTable
	var table = $('#classifications').DataTable({
		"paging":   true,
		"ordering": true,
		"info":     false,
		"pageLength": 25,
		"searching": true,
		"aaSorting": [],
	});
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );


});
</script>

{% endblock %}