{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}

<br>
<h1> {{ variant.chromosome }}:{{ variant.position }}{{ variant.ref }}>{{ variant.alt }} </h1>
<br>
<hr>
<h3> Classifications </h3>
<hr>

<table id="classifications" class = "table table-hover table-bordered" style="width:100%">

  <thead>
	<tr>
	  <th>Status</th>
	  <th>Worksheet</th>
	  <th>Sample</th>
	  <th>Gene</th>
	  <th>Transcript</th>
	  <th>HGVSc</th>
	  <th>HGVSp</th>
	  <th>Classification</th>
	  <th>Genuine</th>
	  <th>Completed Date</th>
	</tr>
  </thead>


  <tbody>
  	{% for classification in classifications %}
	<tr>
		<td> {{classification.display_status}} </td>
		<td> {{classification.sample.worklist.name}} </td>
		<td> {{classification.sample.sample_name_only}} </td>
		<td> {{classification.selected_transcript_variant.transcript.gene.name}} </td>
		<td> {{classification.selected_transcript_variant.transcript.name}} </td>
		<td> {{classification.selected_transcript_variant.display_hgvsc}} </td>
		<td> {{classification.selected_transcript_variant.display_hgvsp}} </td>
	    <td>
		{% if 'Benign' in classification.display_classification %}
		<a class="btn btn-info" href="{% url 'view_classification' pk=classification.pk %}" role="button"> 
		{% elif 'Pathogenic' in classification.display_classification %}
		<a class="btn btn-danger" href="{% url 'view_classification' pk=classification.pk %}" role="button"> 
		{% elif 'VUS' in classification.display_classification %}
		<a class="btn btn-warning" href="{% url 'view_classification' pk=classification.pk %}" role="button"> 
		{% elif 'Artefact' in classification.display_classification %}
		<a class="btn btn-secondary" href="{% url 'view_classification' pk=classification.pk %}" role="button"> 
		{% else %}
		<a class="btn btn-light" href="{% url 'view_classification' pk=classification.pk %}" role="button"> 
		{% endif %}
		  {{ classification.display_classification}} 
		</a>
	  </td>
		<td> {{classification.display_genuine}} </td>
		<td> {{classification.second_check_date}} </td>

	</tr>
	{% endfor %}
  </tbody>
  </</table>

{% endblock %}