{% extends 'acmg_db/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<style>
.evidence_images {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.evidence_images:hover {opacity: 0.7;}

</style>


<br>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="variant_info" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Information</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">History</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


  <hr>
  <h3> Classification Information </h3>
  <hr>
      <table id="classification_info" class = "table table-hover table-bordered table-sm" style="width:50%">
          <thead>
          </thead>
          <tbody>
              <tr>
              <td> Classification </td>
              <td>
                {% if 'Pathogenic' in classification.display_classification %}
                  <button type="button" class="btn btn-danger" style="width: 40rem;">{{classification.display_classification}}</button>
                {% elif 'Benign' in classification.display_classification %}
                  <button type="button" class="btn btn-info" style="width: 40rem;">{{classification.display_classification}}</button>
                {% elif 'VUS' in classification.display_classification %}
                  <button type="button" class="btn btn-warning" style="width: 40rem;">{{classification.display_classification}}</button>
                {% elif 'Artefact' in classification.display_classification %}
                  <button type="button" class="btn btn-secondary" style="width: 40rem;">{{classification.display_classification}}</button>
                {% elif 'Contradictory' in classification.display_classification %}
                  <button type="button" class="btn btn-primary" style="width: 40rem;">{{classification.display_classification}}</button>
                {% else %}
                  <button type="button" class="btn btn-secondary" style="width: 40rem;">{{classification.display_classification}}</button>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td> Classification ID </td>
              <td> {{classification.pk}} </td>
            </tr>
            <tr>
              <td> Variant </td>
              <td> {{classification.variant.chromosome}}:{{classification.variant.position}}{{classification.variant.ref}}>{{classification.variant.alt}} </td>
            </tr>

            <tr>
              <td> Gene </td>
              <td> {{classification.selected_transcript_variant.transcript.gene.name}} </td>
            </tr>
            <tr>
              <td> Transcript </td>
              <td> {{classification.selected_transcript_variant.transcript.name }} </td>
            </tr>
            <tr>
              <td> HGVSc </td>
              <td> {{classification.selected_transcript_variant.display_hgvsc }} </td>
            </tr>
            <tr>
              <td> HGVSp </td>
              <td> {{classification.selected_transcript_variant.display_hgvsp }} </td>
            </tr>
            <tr>
            <tr>
              <td> Consequence </td>
              <td> {{classification.selected_transcript_variant.consequence }} </td>
            </tr>
            <tr>
              <td> Exon </td>
              <td> {{classification.selected_transcript_variant.exon }} </td>
            </tr>
            <tr>
              <td> Created Date </td>
              <td> {{ classification.creation_date|date:"d/m/Y"}} </td>
            </tr>
            <tr>
              <td> Creation User</td>
              <td> {{classification.user_creator }} </td>
            </tr>
            <tr>
              <td> First Check Date </td>
              <td> {{ classification.first_check_date|date:"d/m/Y"}} </td>
            </tr>
            <tr>
              <td> First Check User</td>
              <td> {{classification.user_first_checker }} </td>
            </tr>
            <tr>
              <td> Second Check Date</td>
              <td> {{ classification.second_check_date|date:"d/m/Y"}} </td>
            </tr>
            <tr>
              <td> Second Check User</td>
              <td> {{classification.user_second_checker }} </td>
            </tr>
            <tr>
              <td> Status </td>
              <td> {{classification.display_status }} </td>
            </tr>
            <tr>
              <td> Genuine Variant? </td>
              <td> {{classification.display_genuine }} </td>
            </tr>
            <tr>
              <td> Sample Lab Number </td>
              <td> {{classification.sample.sample_name_only }} </td>
            </tr>
             <tr>
              <td> Worklist </td>
              <td> {{classification.sample.worklist.name }} </td>
            </tr>
            <tr>
              <td> Analysis Performed </td>
              <td> {{classification.sample.analysis_performed|linebreaksbr }} </td>
            </tr>
            <tr>
              <td> Other Changes </td>
              <td> {{classification.sample.other_changes|linebreaksbr }} </td>
            </tr>
            <tr>
              <td> Affected With </td>
              <td> {{classification.sample.affected_with|linebreaksbr }} </td>
            </tr>
            <tr>
              <td> Inheritance Pattern </td>
              <td> {{classification.selected_transcript_variant.transcript.gene.all_inheritance_patterns|linebreaksbr }} </td>
            </tr>
            <tr>
              <td> Conditions </td>
              <td> {{classification.selected_transcript_variant.transcript.gene.conditions|linebreaksbr }} </td>
            </tr>
                        <tr>
              <td> Is Trio De Novo </td>
              <td> {{classification.is_trio_de_novo|linebreaksbr }} </td>
            </tr>


          </tbody>
        </table>
        <hr>

{% if classification.genuine == '1' %}

  <hr>


  <h3> ACMG Details </h3>
  <hr>
  <table id="acmg_question_table" class = "table table-hover table-bordered" style="width:100%">
    <thead>
      <tr>
        <th style="display:none;" class='answer_pk'> Answer PK </th>
        <th style="display:none;" class='cat'> Category </th>
        <th> Evidence Category </th>
        <th> Description </th>
        <th> First Strength </th>
        <th> First Decision </th>
        <th> Second Strength </th>
        <th> Second Decision </th>
        <th> Comment </th>
      </tr>
    </thead>
    <tbody>
      {% for answer in classification_answers %}

              {% if answer.classification.status == '1' %}

              {% if answer.classification_question.pathogenic_question == True and answer.selected_first == True %}
                <tr class='answer table-danger'>
              {% elif answer.classification_question.pathogenic_question == False and  answer.selected_first == True %}
                <tr class='answer table-info'>
              {% else %}
                <tr class='answer'>
              {% endif %}

              {% else %}

              {% if answer.classification_question.pathogenic_question == True and answer.selected_second == True %}
                <tr class='answer table-danger'>
              {% elif answer.classification_question.pathogenic_question == False and  answer.selected_second == True %}
                <tr class='answer table-info'>
              {% else %}
                <tr class='answer'>



              {% endif %}



              {% endif %}








            <td class='answer_pk' style="display:none;"> {{ answer.pk}}</td>
            <td class='cat' style="display:none;"> {{ answer.classification_question.category}}</td>
            <td> {{ answer.classification_question.acmg_code  }} </td>
            <td> {{ answer.classification_question.text  }} </td>
            <td>{{answer.strength_first}}</td>
            <td>{{answer.selected_first}}</td>
            <td>{{answer.strength_second}}</td>
            <td>{{answer.selected_second}}</td>
            <td>{{answer.comment}}</td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>

{% else %}
<h3> ACMG Details </h3>

<hr>

<div class="alert alert-warning" role="alert">
    <p>This variant was not set for a new ACMG classification to be carried out.</p>
  </div>

{% endif %}




    <hr>
    <h3> Comments and Evidence </h3>
    <hr>
    <div id='comment_box'>
      <!-- Comment box folds the comments and files for the variant - updated via ajax -->
      {% for comment in comments %}
        <div class="card">
          <h7 class="card-header">{{comment.user}} on {{comment.time}}</h7>
          <div class="card-body">
            {{comment.text|linebreaks}}
            {% if comment.get_evidence == None %}
            {% else %}
              <hr>
              {% for evidence in comment.get_evidence %}

                  {% if evidence.file|make_list|slice:"-4:"|join:"" == ".png" %}

                        <a href="/media/{{ evidence.file }}" target="_blank"> <img class="evidence_images" src=/media/{{ evidence.file }} style="width:100%;max-width:300px"></a>

                  {% else %}

                        <a href="/media/{{ evidence.file }}" target="_blank">{{evidence.file }} </a>

    {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <hr>
      {% endfor %}

</div>



</div>
<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

  <br>

 <table id="history" class = "table table-hover table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Time</th>
        <th>User</th>
        <th>Changes</th>

      </tr>
    </thead>
    <tbody>
      {% for h in history %}

            <td>{{h.object_pk}}</td>
            <td>{{h.timestamp}}</td>
            <td>{{h.actor}}</td>
            <td>{{h.changes}}</td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>


{% if classification.status == '2' %}

<hr>
<h3> Archive Classification </h3>
<hr>


{% crispy archive_form %}

{% endif %}


{% if classification.status == '0' or classification.status == '1' %}

<hr>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong">
  Reset Classification
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Watch Out!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to reset the Classification - any selected Answers will be deleted?
      </div>
      <div class="modal-footer">
          {% crispy reset_form %}
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if classification.status == '1' and classification.user_second_checker != request.user %}

<hr>

{% crispy assign_form %}

{% endif %}

</div>

<br>
<br>

</div>


<!-- Javascript -->
<script>
$(document).ready(function(){

// Inititialise DataTable
  var table = $('#acmg_question_table').DataTable({
    "paging":   false,
    "ordering": false,
    "info":     false,
    "searching": false,
    "rowGroup": {
        dataSrc: 1
    }
    });

});

</script>

{% endblock %}
